# utils
pre-commit
PyYAML == 6.0
wandb
datetime
pandas
tqdm

# ml-related
matplotlib
pandas
numpy
opencv_python
Pillow

# torch
torch
torchinfo
torch-ema
torchmetrics
pytorch-lightning
inplace-abn
timm
