# working versions as of 22.07.25
matplotlib==3.5.2
numpy==1.22.3
opencv_python==4.5.5.64
pandas==1.4.2
Pillow==9.2.0
pytorch_lightning==1.6.2
PyYAML==6.0
requests==2.27.1
scikit_learn==1.1.1
torch==1.11.0
torchinfo==1.7.0
torchmetrics==0.8.1
tqdm==4.64.0
ttach==0.0.3
wandb==0.12.16
